---
Language: Cpp
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 0
IndentCaseBlocks: false
IndentWidth: 4
InsertBraces: true
SortIncludes: true
IndentCaseLabels: true
BreakBeforeBraces: Attach
