*.a
*.bc
*.com
*.core
*.dbg
*.dll
*.dep
*.exe
*.gcda
*.o
*.obj
*.out
*.out
*.pdb
*.profdata
*.profraw
*.tmp.c
*.tmp.c
*.zip
.history
.history/src
.vscode
.vscode/*
ape.lds
bin
build
cosmo
crash_dump_*.dmp
data
dis
hello.c
jit
lib
minivm
minivm.js
minivm.wasm
out.*
perf.*
scosmopolitan.h
target
