*.bin
bin
build
*.core
*.dll
*.err
*.exe
*.gcda
*.lib
libminivm.a
libminivm.lib
minivm
minivm.exe
.minivm-cache
.minivm-history
*.o
*.obj
*.out
out.*
*.perf
*.profdata
*.profraw
*.rdbg
*.stackdump
*.tmp.c
.vscode
.vscode
.mypy_cache
*.core
