[submodule "vendor/tree-sitter"]
	path = vendor/tree-sitter
	url = https://github.com/fastvm/minivm-tree-sitter
[submodule "vendor/isocline"]
	path = vendor/isocline
	url = https://github.com/fastvm/minivm-isocline
[submodule "vendor/mimalloc"]
	path = vendor/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "vendor/light"]
	path = vendor/light
	url = https://git.savannah.gnu.org/git/lightning.git
