[submodule "vendor/tree-sitter"]
	path = vendor/tree-sitter
	url = https://github.com/fastvm/minivm-tree-sitter
[submodule "vendor/isocline"]
	path = vendor/isocline
	url = https://github.com/fastvm/minivm-isocline
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/FastVM/minivm-raylib