.vs/
.tup/
bin/
negate/

tildebackend.lib
tildebackend.a

*.cache
*.swp
*.out
*.o
*.obj
*.exe
*.pdb

tup.config
debug.bat
build.bat
run.bat
run4coder.bat
project.4coder
tb.rdbg
build.ninja
.ninja_deps
.ninja_log
