name: Builds
on: [push]
jobs:
  linux-minivm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - run: make CC=cc OPT='-O3 -fomit-frame-pointer' 
      - uses: actions/upload-artifact@v3
        with:
          name: minivm-linux
          path:  | 
            build/bin/minivm
            build/bin/libminivm.a
  linux-minivm-warnings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - run: make CC=cc OPT='-g3' CFLAGS='-Wall -Wextra -Werror'
      - uses: actions/upload-artifact@v3
        with:
          name: minivm-linux-debug
          path:  | 
            build/bin/minivm
            build/bin/libminivm.a
  macos-minivm:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - run: make CC=cc OPT='-O3 -fomit-frame-pointer'
      - uses: actions/upload-artifact@v3
        with:
          name: minivm-mac
          path: | 
            build/bin/minivm
            build/bin/libminivm.a