name: Builds
on: [push]
jobs:
  linux-minivm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: make linux
      - run: cat build/test/all.txt
      - uses: actions/upload-artifact@v4
        with:
          name: minivm-linux
          path: |
            build/bin/minivm
  mac-minivm:
    runs-on: macos-14-arm64
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: make mac
      - run: cat build/test/all.txt
      - uses: actions/upload-artifact@v4
        with:
          name: minivm-mac
          path: |
            build/bin/minivm
  windows-minivm:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          version: 12.2.0 
          platform: x64
      - run: make windows
      - run: cat build/test/all.txt
      - uses: actions/upload-artifact@v4
        with:
          name: minivm-windows
          path: |
            build/bin/minivm.exe
