name: Builds
on: [push]
jobs:
  linux-minivm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - run: make CC=cc OPT='-Os -fomit-frame-pointer -flto'
      - uses: actions/upload-artifact@v3
        with:
          name: minivm-linux
          path:  |
            build/bin/minivm
  linux-minivm-warnings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - run: make CC=cc OPT='-g3' CFLAGS='-Wall -Wextra -Werror -Wno-missing-field-initializers -Wno-unused-parameter -Wno-unused-but-set-variable -Wno-missing-braces'
      - uses: actions/upload-artifact@v3
        with:
          name: minivm-linux-debug
          path:  |
            build/bin/minivm
  windows-minivm-gcc:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - run: make EXE=.exe CC='C:\msys64\mingw64\bin\clang' OPT='-Os -fomit-frame-pointer -flto'
      - uses: actions/upload-artifact@v3
        with:
          name: minivm-windows
          path:  |
            build/bin/minivm.exe
